<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.achint.ecommerce">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Controller.MainController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="EasyBuy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.MainActivity">
        </activity>

        <provider
            android:name=".View.MySuggestionProvider"
            android:authorities="com.example.achint.ecommerce.View.MySuggestionProvider" />

        <activity android:name=".View.HomeActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".View.SignupActivity" />
        <activity android:name=".View.LoginActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".View.SearchResultsActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.NavigationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            android:name=".View.ProductActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".View.CartActivity" />
        <activity android:name=".View.OrderHistoryActivity"></activity>
        <activity android:name=".View.launcher"></activity>
    </application>

</manifest>